name: Build CoreELEC for Skyworth E900V22C

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Run build.sh script
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: CoreELEC-image
          path: |
            CoreELEC-Amlogic-ng.arm-*.img.gz
            CoreELEC-Amlogic-ng.arm-*.img.gz.sha256
